REACT_APP_ALCHEMY_API=abc
REACT_APP_IS_MAINNET=0
REACT_APP_ERC_721_CONTRACT_ADDRESS=0xb7Bf85f43dcE8dEa897e23251181D4f4232670B4
REACT_APP_SUBMITTER_CONTRACT_ADDRESS=0x4990459018E65cAb5174763ecD2AEf0425d1cc98
REACT_APP_TX_EXPLORER_URL=https://mumbai.polygonscan.com/tx/