.landing-container {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.landing-h4 {
  align-self: flex-start;
  color: var(--font-secondary-color);
  font-weight: 600;
  font-size: 2.4rem;
  margin-top: 3rem;
  margin-bottom: -1.2rem;
}

/* Carousel Component */

.carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 30rem;
  border-radius: 0.25rem;
}

.carousel-container .carousel-img {
  position: absolute;
  transition: transform 0.6s ease-in-out;
  left: 0;
  top: 0;
}

.carousel-container .action-button {
  border-radius: 100%;
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--header-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--font-primary-color);
  cursor: pointer;
}

.action-button.left-arrow {
  left: 1rem;
}

.action-button.right-arrow {
  right: 1rem;
}

/* Steps Component */

.steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.steps-container .step {
  background-color: var(--header-background-color);
  text-align: center;
  position: relative;
  border-radius: 1rem;
  width: 22rem;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
  padding: 2.8rem 1rem 0;
}

.steps-container .step-count {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.8rem;
}

.steps-container .step-title {
  font-weight: 600;
}

.steps-container .step-description {
  font-weight: 300;
  font-size: 1.6rem;
  color: var(--font-secondary-color);
  max-width: 24rem;
}
