.success-para__first {
  max-width: 90rem;
  margin-bottom: 3rem;
  line-height: 1.5em;
}

.success-para__first span {
  font-weight: 600;
}

.success-link__social-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  list-style: none;
}
