.banner {
  position: absolute;
  background-color: var(--banner-background-color);
  color: var(--banner-text-color);
  top: 2.4rem;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.75rem;
}

.banner .banner-action {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
}

.banner-action img {
  width: 1.25rem;
  height: 1.25rem;
  margin: auto;
  display: none;
}
